{% extends 'base.html' %}
{% load static %}
{% block content %}

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account <span>{{customers.get_name}}</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <style>
                .imgg{
                    border-radius: 50%;
                    height: 60px;
                    width: 60px;
                    /* align-items: center; */
                }
            </style>
           <!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								 
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" href="/logout">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->
                          
                            <!-- <tr>
                              <td> </td>
                              <td> <img src="{% static customers.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
                              <td>{{customers.mobile}}</td>
                              <td>{{customers.address}}</td>
                              <td><a class="btn btn-primary btn-xs" href="{% url 'update-customer' customers.id  %}"><span class="glyphicon glyphicon-edit"></span></a>
                              <a class="btn btn-danger btn-xs" href="{% url 'delete-customer' customers.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
                      
                            </tr> -->
                            
	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	<p>Hello <span class="font-weight-normal text-dark">{{customers.get_name}}</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="/logout">Log out</a>) <img class="imgg" src="{% static customers.profile_pic.url %}"  alt="Profile Pic"></img>
								    	<br>
								    	From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
								    </div><!-- .End .tab-pane -->

								    <!-- <div class="" role="tabpanel" aria-labelledby="tab-orders-link"> -->
                                        <style>
                                            .ntable{
                                                padding: 10px;
                                            }
                                        </style>
                                        <div class="tab-pane fade page-content"  id="tab-orders">
                                           
                                            <div class="page-content">
                                                <div class="container">
                                                    <table class="ntable table-wishlist table-mobile">
                                                        <thead>
                                                            {%for message in messages%}
                                                            <h5>{{message}}</h5>
                                                            {%endfor%}
                                                            {% if nooforders == 0%}
                                                            <h3>You have not ordered anything .</h3>
                                                            {%else%}
                                                            <tr>
                                                                <th>Product</th>
                                                                <th>Price</th>
                                                                <th>Status</th>
                                                                <th>Options</th>
                                                                <!-- <th></th> -->
                                                            </tr>
                                                            {%endif%}
                                                        </thead>
                                
                                                        <tbody>
                                                            {% for order in orders%}
                                                            <tr>
                                                                <td class="product-col">
                                                                    <div class="product">
                                                                        <figure class="product-media">
                                                                            <a href="#">
                                                                                <img src="{% static order.product.product_image.url %}" alt="{{order.product.name}}">
                                                                            </a>
                                                                        </figure>
                                
                                                                        <h3 class="product-title">
                                                                            <a href="#">{{order.product.name}}s</a>
                                                                        </h3><!-- End .product-title -->
                                                                    </div><!-- End .product -->
                                                                </td>
                                                                <td class="price-col">{{order.get_total_price}}</td>
                                                                <td class="stock-col"><span class="in-stock">{{order.status}}</span></td>
                                                                <td class="action-col">
                                                                    <div class="dropdown">
                                                                    <button class="btn btn-block btn-outline-primary-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="icon-list-alt"></i>Select Options
                                                                    </button>
                                
                                                                    <div class="dropdown-menu">
                                                                        {%if order.status != "Delivered"%}

                                                                        <a class="dropdown-item" href="/cancel/{{order.id}}">Cancel Order</a>
                                                                        {%endif%}
                                                                        <a class="dropdown-item" href="/invoice/{{order.id}}">Download invoice</a>
                                                                        <!-- <a class="dropdown-item" href="#">The best option</a> -->
                                                                      </div>
                                                                    </div>
                                                                </td>
                                                                <td class="remove-col"><button class="btn-remove"><i class="icon-close"></i></button></td>
                                                            </tr>
                                                            {%endfor%}
                                                          
                                                        </tbody>
                                                    </table><!-- End .table table-wishlist -->
                                                   
                                                </div><!-- End .container -->
                                            </div><!-- End .page-content -->
								    	<a href="/products" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								  
								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<p>The following addresses will be used on the checkout page by default.</p>

								    	<div class="row">
								    		<div class="col-lg-8">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title"> Address</h3><!-- End .card-title -->

														<p>User Name: {{customers.get_name}}<br>
														
														{{customers.address}}<br>
														{{customers.mobile}}<br>
														{{customers.get_email}}<br>
														<a href="#">Edit <i class="icon-edit"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->

								    	<!-- End .col-lg-6 -->
								    	</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form action="#">
			                				<div class="row">
                                             
		            						<label> First Name *</label>
		            						<input type="text" name="firstname" value="{{customers.user.first_name}}" class="form-control" required>
		            						<!-- <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> -->
                                            <label> Last Name *</label>
		            						<input type="text" name="lastname" value="{{customers.user.last_name}}" class="form-control" required>
		            						<!-- <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> -->

		                					<label>Email address *</label>
		        							<input type="email" value="{{customers.get_email}}"  class="form-control" readonly required>
                                            <label>Mobile *</label>
		        							<input type="text" value="{{customers.mobile}}"  class="form-control" readonly required>

		            					
		            						<label>Current password </label>
		            						<input type="password" class="form-control">

		            						<label>New password </label>
		            						<input type="password" class="form-control">

		            						<label>Confirm new password</label>
		            						<input type="password" class="form-control mb-2">

		                					<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        {% endblock content%}